@media all and (max-width:1000px) {
    header {
        width: 100%;
    } 
    .logo {
        padding-left: 15px;
    }
    .header-center {
        font-size: 10px;
        padding-top: 15px;
    }
    .header-right a {
        padding: 0 15px;
    }
    .top-wrapper .container {
        width: 100%;
    }
    .kotak h1 {
        font-size: 28px;
        line-height: 30px;
    }
    .kotak p {
        font-size: 12px;
        margin: 20px;
    }
    .btn-wrapper p {
        margin: 4px 0;
    }
    .btn-wrapper {
        margin: 10px -40 0 0;
    } 
    .btn {
        font-size: 12px;
    }
    main {
        width: 100%;
        height: 6040px;
    }
    .i-contents {
        height: 2700px;
    }
    .e-contents {
        height: 2850px;
    }

    
    .content-wrapper .container .heading h2, .message-wrapper .container .heading h2 {
        width: 98%;
        font-size: 15x;
    }
    .content-wrapper .container .copy-heading1 h3, .content-wrapper .container .copy-heading2 h3 {
        font-size: 10x;
        width: 92%;
    }
    .content {
        width: 80%;
    }
    .content-title h4, .content-author p {
        font-size: 13px;
    }
    .txt-contents p {
        font-size: 12px;
    }
}

@media all and (max-width:670px) {
    header {
        width: 100%;
    } 
    .logo {
        padding-left: 8px;
    }
    .header-center {
        font-size: 8px;
        padding-top: 12px;
    }
    .header-right a {
        padding: 0 12px;
        display: none;
    }
    .top-wrapper .container {
        width: 100%;
    }
    .kotak h1 {
        font-size: 25px;
        line-height: 27px;
    }
    .kotak p {
        font-size: 10;
        margin: 15px;
        line-height: 25px;
    }
    .btn-wrapper p {
        margin: 2px 0;
    }
    .btn-wrapper {
        margin: 8px -30 0 0;
    } 
    .btn {
        font-size: 10px;
        display: inline;
    }
    main {
        width: 100%;
        height: 6140px;
    }
    .i-contents {
        height: 2750px;
    }
    .e-contents {
        height: 2900px;
    }

    
    .content-wrapper .container .heading h2, .message-wrapper .container .heading h2 {
        width: 98%;
        font-size: 15x;
    }
    .content-wrapper .container .copy-heading1 h3, .content-wrapper .container .copy-heading2 h3 {
        font-size: 10x;
        width: 87%;
        text-align: center;
    }
    .content {
        width: 100%;
    }
    .content-icon img {
        height: 150px;
        width: 150px;
        float: none;
        padding-right: 10px;
    }
    .content-title, .content-author {
        padding-left: -20px;   
         
    }
    .content-title h4, .content-author p {
       
        width: 100%;
        
        margin-left: -30px;
    }
    .content-author p {
        margin-top: -20;
    }
    .i-contents .content {
        float: none;
    }
    .content-icon {
        display: inline;    
    }
    .content-title, .content-author {
        padding-left: 80px;   
         
    }
    .content-title h4, .content-author p {
        font-size: 13px;
    }
    .txt-contents p {
        font-size: 12px;
    }
}
